.top-section {
    text-align: center;
    background: rgba(45, 62, 89, 0.6);
    height: 60px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky; /* 添加 sticky 定位 */
    top: 0; /* 固定在顶部 */
    z-index: 101; /* 确保 Header 在导航栏之上 */
}

.top-section h1 {
    margin-left: 60px;
    display: inline;
    color: rgba(255, 255, 255, 0.94);
}

.top-section li {
    display: inline;
    color: rgba(255, 255, 255, 0.96);
    margin-right: 13px;
}

.top-section ul {
    display: flex;
    align-items: center;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: rgba(255, 255, 255, 0.96);
    cursor: pointer;
}

/* 响应式设计：小屏幕设备 */
@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .top-section ul {
        margin-top: 10px;
    }
}