.top-section {
    text-align: center;
    margin-bottom: 20px;
    background: rgba(45, 62, 89, 0.6);
    height: 60px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* 使用相对单位设置内边距 */
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18); /* 新增阴影效果 */
}

.top-section h1 {
    margin-left: 60px;
    display: inline;
    color: rgba(255, 255, 255, 0.94);
}

/* 使得列表值横向排列 */
.top-section li {
    display: inline;
    color: rgba(255, 255, 255, 0.96);
    margin-right: 13px;
}

.top-section ul {
    display: flex;
    align-items: center;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: rgba(255, 255, 255, 0.96); /* 按钮文本颜色 */
    cursor: pointer;
}

/* 响应式设计：小屏幕设备 */
@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .top-section ul {
        margin-top: 10px;
    }
}